.raffle-title {
	text-align: center;
	color: orange;
	font-size: 50px;
}

.raffle-buttonBox {
	text-align: center;
	padding: 5px;
}

.text-box {
	width: 300px;
	height: 30px;
	border-style: solid;
}

.raffle-button {
	background-color: #a4d255;
	color: white;
	border: none;
	padding: 10px 30px;
	font-size: 50px;
}

.result-box {
	text-align: center;
	font-size: 45px;
}

.field-error {
	text-align: center;
	border-color: #dc3545;
	color: #dc3545;
}