<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wisekit Event Start</title>
    <link rel="stylesheet" href="../css/basicCss.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
<h1 class="raffle-title">
    <img src="/img/logo1.png"> Raffle!
</h1>
<div class="contents">로그인 후 이용 가능합니다.</div>
<div class="raffle-buttonBox">
    <button type="button" onclick="location.href='/member/loginPage'" class="index-button"
            id="index-button">로그인하러 가기
    </button>
</div>


</body>

<script type="text/javascript">
    const indexButton = document.getElementById('index-button');

    indexButton.addEventListener('mouseover', function (event) {
        indexButton.style.color = "#a4d255";
        indexButton.style.backgroundColor = "white";
        indexButton.style.fontSize = "30px";
    })

    indexButton.addEventListener('mouseout', function (event) {
        indexButton.style.color = "white";
        indexButton.style.backgroundColor = "#a4d255";
        indexButton.style.fontSize = "25px";
    })
</script>
</html>