<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Wisekit Event Start</title>
<link rel="stylesheet" href="../css/basicCss.css">
</head>
<body>
	<h1 class="raffle-title">
		<img src="http://www.wisekit.co.kr/assets/img/common/logo1.png">
		Raffle!
	</h1>
	<form action="/member/join" method="post" th:object="${memberDTO}">
		<div class="raffle-buttonBox">
			<label for="memberName">이름 : </label>
			<input type="text" placeholder="이름을 입력해주세요." class="text-box" th:field="*{memberName}"/>
		</div>
		<div class="raffle-buttonBox">
			<label for="memberPhoneNum">번호 : </label>
			<input type="text" placeholder="핸드폰 번호를 입력해주세요.(-제외)" class="text-box" th:field="*{memberPhoneNum}"/>
		</div>
		<div class="raffle-buttonBox">
			<input type="submit"  id="submitButton"/>
		</div>
		<div class="field-error">
			<input type="text" th:value="${msg}">
		</div>
	</form>
	
	


</body>
<script type="text/javascript">

</script>


</html>